<!DOCTYPE html>
<html lang="en">
<head>
    <title>PPBC</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='css/style.css') }}"/>
    <link rel="stylesheet" type="text/css" href= "../static/css/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700,900" rel="stylesheet">
    <style>
    </style>
</head>
<body onload="loadWebSettings()">
    <div class="jumbotron text-left">
		<span id="settingsIcon" class="settings">&#9881;</span>
        <h1 id="pageTitle"></h1>
    </div>
    <div class="container-fluid text-center">  
        <div class="row bg-header">
            <div class="col-sm text-right">
                <h4>BG STYLE PICKER</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <button type="button" class="btn btn-block btn-green" onclick="setBGGreen()"></button>
            </div>
            <div class="col-sm">
                <button type="button" class="btn btn-block btn-red" onclick="setBGRed()"></button>
            </div>
            <div class="col-sm">
                <button type="button" class="btn btn-block btn-blue" onclick="setBGBlue()"></button>
			</div>
			<div class="col-sm">
                <button type="button" class="btn btn-block btn-black" onclick="setBGBlack()"></button>
            </div>
		</div>

    	<hr class="minor">

		<div class="row">
			<div class="col-sm">
				<div class="dropdown">
					<button class="btn dropdown-toggle btn-lg btn-purple" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						ANIMATIONS
					</button>		
					<div class="dropdown-menu" aria-labelledby="dropdownMenu2">
						<button class="dropdown-item text-center" type="button" onclick="setCustomBGColor('rainbow')">RAINBOW</button>
						<button class="dropdown-item text-center" type="button" onclick="setCustomBGColor('rainbowCycle')">RAINBOW CYCLE</button>
						<button class="dropdown-item text-center" type="button" onclick="setCustomBGColor('breathing')">BREATHING</button>
						<button class="dropdown-item text-center" type="button" onclick="setCustomBGColor('twinkle')">TWINKLE</button>
					</div>
				</div>
			</div>

			<div class="col-sm">
				<b>CUSTOM COLOR:</b>
				<div class="bg-color-picker">
					<div class="sliders">
						<div class="slide-container">
							<input class="bg-red-slider short-slider" type="range" id="rangeinput" value="0" max="255" onchange="setBGRgb()" oninput="setBGRgb()" />
						</div>
						<div class="slide-container">
							<input class="bg-green-slider short-slider" type="range" id="rangeinput" value="0" max="255" onchange="setBGRgb()" oninput="setBGRgb()" />
						</div>
						<div class="slide-container">
							<input class="bg-blue-slider short-slider" type="range" id="rangeinput" value="0" max="255" oninput="setBGRgb()" onchange="setBGRgb()" />
						</div>
					</div>
					<div id="bg-color-preview" class="bg-color-preview"></div>
				</div>
				<button id="sendColorBtn" type="button" class="btn btn-purple" onclick="setCustomBGColor('solid')">SEND BG COLOR</button>
			</div>
		</div>
	</div>

    <hr class="major">

	<div class="container-fluid text-center"> 
		<div class="row bg-header">
			<div class="col-sm text-right">
				<h4>TEXT STYLE PICKER</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-sm">
				<button type="button" class="btn btn-block btn-white" onclick="setTextWhite()"></button>
			</div>
			<div class="col-sm">
				<button type="button" class="btn btn-block btn-black" onclick="setTextBlack()"></button>
			</div>
		</div>

		<hr class="minor">

		<div class="row">
			<div class="col-sm">
				<div class="dropdown">
					<button class="btn dropdown-toggle btn-lg btn-purple" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						FONTS
					</button>		
					<div class="dropdown-menu" aria-labelledby="dropdownMenu2">
						<button class="dropdown-item text-center" type="button" onclick="setFont('slanted')">SLANTED</button>
						<button class="dropdown-item text-center" type="button" onclick="setFont('digits')">DIGITS</button>
					</div>
				</div>
			</div>

			<div class="col-sm">
				<div class="dropdown">
					<button class="btn dropdown-toggle btn-lg btn-purple" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						COLOR ANIMATIONS
					</button>		
					<div class="dropdown-menu" aria-labelledby="dropdownMenu2">
						<button class="dropdown-item text-center" type="button" onclick="setCustomTextColor('rainbow')">RAINBOW</button>
						<button class="dropdown-item text-center" type="button" onclick="setCustomTextColor('rainbowCycle')">RAINBOW CYCLE</button>
						<button class="dropdown-item text-center" type="button" onclick="setCustomTextColor('breathing')">BREATHING</button>
					</div>
				</div>
			</div>

			<div class="col-sm">
				<form>
					<button class="btn btn-lg btn-purple" type="button" onclick="setTextAnimation('scrolling')">
						SCROLLING
					</button>	
					<button class="btn btn-lg btn-purple" type="button" onclick="setTextAnimation('static')">
						STATIC
					</button>
					<P>SPEED INPUT (balls/s):</P>
					<input id="speedInput" class="form-control form-control-lg" type="text" placeholder="5" min="0">	
				</form>
			</div>

			<div class="col-sm">
				<b>CUSTOM COLOR:</b>
				<div class="text-color-picker">
					<div class="sliders">
						<div class="slide-container">
							<input class="text-red-slider short-slider" type="range" id="rangeinput" value="0" max="255" onchange="setTextRgb()" oninput="setTextRgb()" />
						</div>
						<div class="slide-container">
							<input class="text-green-slider short-slider" type="range" id="rangeinput" value="0" max="255" onchange="setTextRgb()" oninput="setTextRgb()" />
						</div>
						<div class="slide-container">
							<input class="text-blue-slider short-slider" type="range" id="rangeinput" value="0" max="255" oninput="setTextRgb()" onchange="setTextRgb()" />
						</div>
					</div>
					<div id="text-color-preview" class="text-color-preview"></div>
				</div>
				<button id="sendColorBtn" type="button" class="btn btn-purple" onclick="setCustomTextColor('solid')">SEND TEXT COLOR</button>
			</div>
		</div>
	</div>

	<hr class="major">

	<div class="container-fluid text-center"> 
		<div class="row bg-header">
			<div class="col-sm text-right">
				<h4>CONTENT</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-sm">
				<h5>SELECT CONTENT</h5>
				<form>
					<input type="checkbox" name="time" id="time" onclick="setContent('time')" checked>Time
					<button id="configureTimeBtn" type="button" class="btn btn-sm btn-purple">CONFIGURE</button><br>
					<input type="checkbox" name="date" id="date" onclick="setContent('date')">Date<br>
					<input type="checkbox" name="weather" id="weather" onclick="setContent('weather')">Weather  
					<button id="configureWeatherBtn" type="button" class="btn btn-sm btn-purple">CONFIGURE</button><br>
					<input type="checkbox" name="text" id="text" onclick="setContent('text')">Custom Text
					<button id="configureTextBtn" type="button" class="btn btn-sm btn-purple">CONFIGURE</button>
				</form>
			</div>	
		</div>
	</div>

	<hr class="major">

	<div class="container-fluid text-center">
		<div class="row bg-header">
			<div class="col-sm text-right">
				<h4>PPBC SETTINGS</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-sm">
				<h5>SET DISPLAY BRIGHTNESS:</h5>
				<div class="sliders">
					0 <input class="brightness-slider brightness-slider" type="range" id="brightnessSlider" value="125" max="255" onclick="setBrightness()"/> 100
				</div>
				<br>
				<button class="btn btn-lg btn-black txt-gray" type="button" onclick="setBrightness('10')">NIGHT NIGHT</button>
				<button class="btn btn-lg btn-black" type="button" onclick="setBrightness('30')">NIGHT</button>
				<button class="btn btn-lg btn-white" type="button" onclick="setBrightness('125')">DAY</button>
			</div>
		</div>

		<hr class="minor">

		<div class="row">
			<div class="col-sm">
				<h5>SAVE STATE SETTINGS (used for bootup)</h5>
				<button class="btn btn-lg btn-purple" type="button" onclick="settings('save')">
					SAVE
				</button>
				<button class="btn btn-lg btn-purple" type="button" onclick="settings('load')">
					LOAD
				</button>		
			</div>
		</div>

		<hr class="minor">

		<div class="row">
			<div class="col-sm">
				<button class="btn btn-sm btn-purple" type="button" id="oddBoardBtn">ODD-SIZED BOARD SETTINGS</button>
			</div>
		</div>

	</div>

<!-- Modals -->
<div id="timeModal" class="modal">
	<div class="modal-content">
		<div class="modal-header">
			<span id="timeclose" class="close">&times;</span>
			<div class="col-sm text-left">
				<h4>CONFIGURE TIME</h4>
			</div>
		</div>
	<div class="modal-body">
			<form class="txt-white">
				Time Format:
				<select id="timeFormat">
					<option value="12h">12 Hour</option>
					<option value="24h">24 Hour</option>
				</select><br>
				<button id="timeBtn" type="button" class="btn btn-white txt-purple" onclick="configureTime()"><b>SUBMIT</b></button>
			</form>
		</div>
	</div>
</div>

<div id="weatherModal" class="modal">
	<div class="modal-content">
		<div class="modal-header">
			<span id="weatherclose" class="close">&times;</span>
			<div class="col-sm text-left">
				<h4>CONFIGURE WEATHER</h4>
			</div>
		</div>
		<div class="modal-body">
			<form class="txt-white">
				Temp Unit:
				<select id="tempUnit">
					<option value="f">F</option>
					<option value="c">C</option>
					<option value="k">K</option>
				</select><br><br>
				Please enter only one of the following. If you have both filled, zip code will be used.<br>
				Zip Code: <input id="zipInput" class="form-control form-control-sm" type="text" placeholder="zip code" min="0"><br>
				City Name: <input id="cityInput" class="form-control form-control-sm" type="text" placeholder="city name"><br>
				<button id="upddateWeatherBtn" type="button" class="btn btn-white txt-purple" onclick="setWeather()"><b>SUBMIT</b></button>
			</form>
		</div>
	</div>
</div>

<div id="customTextModal" class="modal">
	<div class="modal-content">
		<div class="modal-header">
			<span id="textclose" class="close">&times;</span>
			<div class="col-sm text-left">
				<h4>CONFIGURE CUSTOM TEXT</h4>
			</div>
		</div>
		<div class="modal-body">
			<form>
				<input id="textInput" class="form-control form-control-lg" type="text" placeholder="custom text" min="0">
				<button id="sendTextBtn" type="button" class="btn btn-white txt-purple" onclick="setCustomText()"><b>SET CUSTOM TEXT</b></button>
			</form>	
		</div>
	</div>
</div>

<div id="webPageSettingsModal" class="modal">
	<div class="modal-content">
		<div class="modal-header">
			<span id="settingsclose" class="close">&times;</span>
			<div class="col-sm text-left">
				<h4>CONFIGURE WEB PAGE</h4>
			</div>
		</div>
		<div class="modal-body txt-white">
			CUSTOM PAGE BG COLOR:
			<div class="page-color-picker">
				<div class="sliders">
					<div class="slide-container">
						<input class="page-red-slider short-slider" type="range" id="rangeinput" value="0" max="255" onchange="setPageRgb()" oninput="setPageRgb()" />
					</div>
					<div class="slide-container">
						<input class="page-green-slider short-slider" type="range" id="rangeinput" value="0" max="255" onchange="setPageRgb()" oninput="setPageRgb()" />
					</div>
					<div class="slide-container">
						<input class="page-blue-slider short-slider" type="range" id="rangeinput" value="0" max="255" oninput="setPageRgb()" onchange="setPageRgb()" />
					</div>
				</div>
				<div id="page-color-preview" class="page-color-preview"></div>
			</div>
			<button id="sendColorBtn" type="button" class="btn btn-purple" onclick="setCustomPageColor()">SET PAGE BG COLOR</button>

			<hr class="minor">
			<br>
			<h5>PAGE TITLE:</h5>
			<input id="titleInput" class="form-control form-control-lg" type="text" placeholder="title">
			<button id="sendColorBtn" type="button" class="btn btn-purple" onclick="setPageTitle()">SET PAGE TITLE</button>

		</div>
	</div>
</div>

<div id="oddBoardModal" class="modal">
	<div class="modal-content">
		<div class="modal-header">
			<span id="oddboardclose" class="close">&times;</span>
			<div class="col-sm text-left">
				<h4>CONFIGURE ODD BOARDS</h4>
			</div>
		</div>
		<div class="modal-body txt-white">
			BOARD TYPE (will take effect during next reboot):
			<select id="boardType" onchange="openXLSettings()">
				<option value="normal">Normal</option>
				<option value="xl">XL</option>
			</select>
			<button class="btn btn-sm btn-purple" type="button" onclick="sendBoardType()">SET</button>
			<div class="xl-settings" id="xl-settings">
				<br><hr class="minor"><br>
				NUMBER OF LINES: 
				<select id="lineCount" onchange="openLineSettings()">
					<option value="1">1</option>
					<option value="2">2</option>
				</select><br><br>
				<div class="line-settings" id="line-settings">
					Line 1:
					<form>
						<input type="checkbox" name="time" id="line1time" onclick="setContent('time')" checked>Time
						<button id="configureTimeBtn" type="button" class="btn btn-sm btn-purple">CONFIGURE</button><br>
						<input type="checkbox" name="date" id="line1date" onclick="setContent('date')">Date<br>
						<input type="checkbox" name="weather" id="line1weather" onclick="setContent('weather')">Weather  
						<button id="configureWeatherBtn" type="button" class="btn btn-sm btn-purple">CONFIGURE</button><br>
						<input type="checkbox" name="text" id="line1text" onclick="setContent('text')">Custom Text
						<button id="configureTextBtn" type="button" class="btn btn-sm btn-purple">CONFIGURE</button>
						<input id="line1SpeedInput" class="form-control form-control-sm" type="text" placeholder="line 1 speed" min="0">
					</form>
					<br>
					Line 2:
					<form>
						<input type="checkbox" name="time" id="line2time" onclick="setContent('time')" checked>Time
						<button id="configureTimeBtn" type="button" class="btn btn-sm btn-purple">CONFIGURE</button><br>
						<input type="checkbox" name="date" id="line2date" onclick="setContent('date')">Date<br>
						<input type="checkbox" name="weather" id="line2weather" onclick="setContent('weather')">Weather  
						<button id="configureWeatherBtn" type="button" class="btn btn-sm btn-purple">CONFIGURE</button><br>
						<input type="checkbox" name="text" id="line2text" onclick="setContent('text')">Custom Text
						<button id="configureTextBtn" type="button" class="btn btn-sm btn-purple">CONFIGURE</button>
						<input id="line2SpeedInput" class="form-control form-control-sm" type="text" placeholder="line 2 speed" min="0">
					</form>
					<br>
				</div>
				<button class="btn btn-purple" type="button" onclick="sendXLSettings()">SEND SETTINGS</button>
			</div>
		</div>
	</div>
</div>

<script src="{{ url_for('static',filename='js/script.js') }}"></script>
<script src="../static/js/script.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>